/os-runner
/build
src/kernel/target/
src/kernel/vendor/
iso/
tinycore.sh
disk.img
msdos.disk
os.iso
disk.img
src/kernel/Cargo.lock
src/bootloader/Cargo.lock
src/bootloader/target/
src/os-runner/Cargo.lock
src/os-runner/target/
bfg-1.14.0.jar
Core-current.iso
OVMF.fd
filesize.inf
kernel.bin
fat.img
kernel-font.ttf
