[workspace]
members = ["src/boot_cfg_parser", "src/kernel", "src/bootloader", "src/bootbridge", "src/santa", "src/c_enum", "src/drivers/test_driver", "src/baker", "src/bakery", "src/kernel_proc", "src/pager", "src/sentinel", "src/rstd", "src/packery", "src/packer", "userland/init"]
resolver = "2"

[profile.dev]
panic = "unwind"
opt-level = 0

[profile.release]
panic = "unwind"
opt-level = 3

[workspace.dependencies]
