[workspace]
members = ["src/boot_cfg_parser", "src/kernel", "src/bootloader", "src/os-runner", "src/bootbridge"]
resolver = "2"

[profile.dev]
panic = "abort"
opt-level = 0

[profile.release]
panic = "abort"
opt-level = 3 

[workspace.dependencies]
