[unstable]
build-std-features = ["compiler-builtins-mem"]
build-std = ["core", "alloc", "compiler_builtins"]

[build]
target = "x86_64.json"
rustflags = [
    "-Zthreads=16",
]

[target.'cfg(target_os = "none")']
runner = "../../build/os-runner"
