[unstable]
build-std-features = ["compiler-builtins-mem"]
build-std = ["core", "alloc", "compiler_builtins"]
json-target-spec = true

[build]
target = "x86_64.json"
rustflags = [
    "--cfg=getrandom_backend=\"rdrand\"", "-Cdebuginfo=2"
]

[target.'cfg(target_os = "none")']
runner = "../../test_run.sh"

